.cart {
  position: absolute;
  right: 20px;
  top: 80px;
  z-index: 999;
  background-color: white;
  padding: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  h1 {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 400;
    color: gray;
  }

  .item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
    img {
      width: 80px;
      height: 100px;
      object-fit: cover;
    }
    .details {
      h1 {
        font-size: 15px;
        font-weight: 400;
      }
      p {
        font-size: 10px;
        color: gray;
        margin-bottom: 10px;
      }
      .price {
        color: blue;
      }
    }
    .delete {
      color: red;
      font-size: 25px;
      cursor: pointer;
    }
  }
  .total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    margin-bottom: 10px;
  }
  button {
    width: 250px;
    padding: 8px;
    background-color: blue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .reset {
    font-size: 14px;
    color: red;
    cursor: pointer;
  }
}
